// Fonts
$primary-font: "Segoe UI", sans-serif;

// path
$images-path: "../img" !default;

//fonts Path
$fonts-path: "../fonts" !default;

//common Color
$white: #ffffff;
$black: #000000;
$grey: #707070;
$light-grey: #f4f9f4;
$mid-grey: #00000029;
$pending: #ffbf00;
// theme color
$dark-green: #359934;
$light-dark-green: #349933;
$green: #3c9e3b;
$light-green: #7cbf7a;
